# Ignore Python virtual environment files
.venv/
venv/
env/
ENV/

# Ignore Python cache files
__pycache__/

# Ignore editor-specific files
.vscode/
.idea/

# Ignore compiled Python files
*.pyc
*.pyo
*.pyd

# Ignore logs and temporary files
*.log
*.tmp

# Ignore the .env file
.env

.git/

# Ignore the Dockerfile
Dockerfile

# Ignore image files
*.png